<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="main w-full min-h-screen bg-zinc-900 ">
    <div class="form px-10 py-10 text-white">
        <div class="nav mb-10">
            <a  class="text-blue-500" href="/read">Read Users</a>
                    </div> 
        <h1 class="text-3xl tracking-tighter mb-3">Create User</h1>
<form action="/create" method="post">
    <input type="text" placeholder="Enter Name" class="block  px-5 py-3 outline-none bg-zinc-700 w-1/4 rounded-lg " name  ="name">
    <input type="email" placeholder="Enter Email here" class="block px-5 py-3 outline-none bg-zinc-700 w-1/4 rounded-lg mt-3 " name  ="email">
    <input type="text" placeholder="gave your imageurl" class="block px-5 py-3 outline-none bg-zinc-700 w-1/4 rounded-lg mt-3" name  ="imageurl">
    
    <input type="submit" class="mt-3  bg-blue-500 px-5 py-3 rounded-md" value="Create User ">
</form>
    </div>
  </div>

    <script src="javascripts/script.js"></script>
</body>
</html