<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900  text-white">
        <div class="form px-10 py-10 text-white">
            <h1 class="text-3xl tracking-tighter mb-3">Login Your Account</h1>
    <form action="/login" method="post">
        <input type="email" placeholder="Enter Email here" class="block px-5 py-3 outline-none bg-zinc-700 w-1/4 rounded-lg mt-3 " name  ="email">
        <input type="password"  placeholder="gave your password" class="block px-5 py-3 outline-none bg-zinc-700 w-1/4 rounded-lg mt-3" name  ="password">
        
        <input type="submit" class="mt-3  bg-blue-500 px-5 py-3 rounded-md" value="Login">
    </form>
        </div>
    </div>
  
</body>
</html>